@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;800&display=swap');

/* variaveis */

:root {
    --blue-dnc: #0c70f2;
    --black-dnc: #303030;
    --gray-hover: #c9c9c9;

    --font-standard: 'Inter';
}

/* Definindo body e background da cor*/
body {
    margin:0px;
    padding:0px;
    background: linear-gradient(180deg, 
    rgba(12, 112, 242, 0.5) 19.91%, 
    rgba(12, 112, 242, 0) 24.84%), #303030;
    border: 1px solid #BABABA;
    background-repeat: no-repeat;
}

/* Navegation menu */
#header {
    width:100%;
    height: 100px;
    border: 1px solid black;
    background-color: var(--black-dnc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}

    #headerNav {
        display: flex;
        width: 55%;
        justify-content: space-around;
        align-items: center;
        margin-left: 5%;

    }

    #headerNav a {
        justify-content: space-around;
        font-family: var(--font-standard);
        font-style: normal;
        font-size: 25px;
        color: #FFFFFF;
        text-decoration: none;
        
    }
    #headerNav a:hover{
        color: var(--gray-hover);

    }

    #header button {
        margin-right: 5%;
        background: var(--blue-dnc);
        box-shadow: 3px 2px 4px 
        rgba(12, 112, 242, 0.25);
        border: 0px;
        padding: 5px 10px 5px 10px;
        font-family: var(--font-standard);
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        cursor: pointer;

    }
/* header style */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
    header {
        color: white;
        font-family: var(--font-standard);

    }

    header h1 {
        font-family: var(--font-standard);
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 97px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 20px;

    }
    
    header h2 {
        font-family: var(--font-standard);
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 100px;
    }

    header .upsidedown {
        background-color: black;
        font-weight: bold;
        padding: 5px;
    }

/* Form style*/

form {
    font-family: var(--font-standard);
    font-weight: 600;
    font-size: 30px;
    color: white;
    width: 600px;

}
    .formGroup {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .formGroup input {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 10px;
        border: 0px;
        font-family: var(--font-standard);
        font-size: 20px;
        
    }

    .formGroup input::placeholder {
        color: rgba(57, 57, 57, 0.5);

    }

    .formGroup label {
        margin: 10px 10px 10px 10px; 
    }

    .checkBoxItens label {
        font-family: var(--font-standard);
        font-size: 25px;
        color: #FFFFFF;
        
    }

    .checkBoxItens {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    
    input[type="checkbox"]{
        transform: scale(1.7);
    }

    input[type="submit"]{
        background: rgba(12, 112, 242, 0.9);
        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
        border-radius: 10px;
        font-family: var(--font-standard);
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        padding: 10px;
        border: 0px;
        width: 100%;
        margin-top: 80px;
        cursor: pointer;
    }

/* footer style*/

footer {
    width: 100%;
    background-color: var(--blue-dnc);
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
}

footer .lineOne {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .lineOne a {
    font-family: var(--font-standard);
    font-style: normal;
    font-size: 25px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
}


footer .lineOne a:hover {
    color: var(--gray-hover);
}

footer h5 {
    text-align: center;
    background: var(--black-dnc);
    border-radius: 10px;
    color: white;
    font-weight: 800;
    font-size: 18px;
    font-family: var(--font-standard);
    padding: 10px;
    margin-bottom: 15px;
}

footer ul {
        list-style: none;
        text-align: center;
        margin: 0px;
        padding: 0px;
}
footer ul li {
    text-align: center;
    font-weight: 600;
    font-family: var(--font-standard);
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .address {
    font-family: var(--font-standard);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    }

footer .lineTwo {
    display: flex;
    height: 35px;
    justify-content: center;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

footer .lineTwo a {
    font-family: var(--font-standard);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
}

footer .lineTwo a:first-child {
    border-right: 2px solid white;
}

footer .lineTwo a:hover{
    color: var(--gray-hover);
}

@media only screen and (max-width: 600px){
    body {
        margin:0px;
        padding:0px;
        background: linear-gradient(180deg, 
        rgba(12, 112, 242, 0.5) 19.91%, 
        rgba(12, 112, 242, 0) 24.84%), #303030;
        border: 1px solid #BABABA;
        background-repeat: no-repeat;
    }
    
    /* Navegation menu */
    #header {
        flex-direction: column;
    }
    
        #headerNav {
            flex-direction: column;
            height: auto;
            width: 100%;
            margin: 0px;
    
        }
            
        }
        #headerNav a:hover{
            color: var(--gray-hover);
    
        }
    
        #header button {
            margin:0px;
            width: 100%;

    
        }
    /* header style */
    
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
        header {
            color: white;
            font-family: var(--font-standard);
    
        }
    
        header h1 {
            font-family: var(--font-standard);
            font-size: 28px;
    
        }
        
        header h2 {
            font-size: 20px;
            padding-right: 14px;
            padding-left: 14px;
        }
    
        header .upsidedown {
            background-color: black;
            font-weight: bold;
            padding: 5px;
        }
    
    /* Form style*/
    
    form {
        
        width: 90%;
        font-size: 20px;
    
    }
       
        .checkBoxItens label {
            font-family: var(--font-standard);
            font-size: 18px;
            color: #FFFFFF;
            
        }
    
    
    /* footer style*/
    
    footer {
        width: 100%;
        background-color: var(--blue-dnc);
    }
    
    footer nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 330px;
    }
    
    footer .lineOne {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
 
    footer .address {
        width: 90%;
        margin-bottom: 20px;
        }
    
    footer .lineTwo {
        display: flex;
        height: 35px;
        justify-content: center;
        margin: 0px;
        padding: 10px;
        text-align: center;
    }
    
    footer .lineTwo a {
        font-family: var(--font-standard);
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        padding: 5px;
    }

}